/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

.hidden{display:none;}

h1 {
  font-style: italic;
  color: #FFD700;
  font-family: verdana, arial, sans-serif; 
}
button {
  padding: 10px;
  border-radius: 10px;
}
#tile1 {background: firebrick;}
#tile1:active, #tile1.lit{background:floralwhite;}

#tile2 {background: indigo;}
#tile2:active, #tile2.lit{background:hotpink;}

#tile3 {background: lavender;}
#tile3:active, #tile3.lit{background:lime;}

#tile4 {background:moccasin;}
#tile4:active, #tile4.lit{background:maroon;}

#tile5 {background: burlywood;}
#tile5:active, #tile5.lit{background:coral;}

#tile6 {background: purple;}
#tile6:active, #tile6.lit{background:brown;}

#tile_Area button{
  width:170px;
  height:170px;
  margin:5px;
}
